APP_DEBUG=false

DB_HOST=127.0.0.1
DB_NAME=kuran_mektebi
DB_USER=root
DB_PASS=

MAIL_HOST=smtp.hostinger.com
MAIL_USERNAME=info@mektebtakip.com
MAIL_PASSWORD=
MAIL_PORT=465
MAIL_FROM=info@mektebtakip.com
MAIL_FROM_NAME="365 Kuran Kuran Mektebi"
